:root {
    --on-background: rgb(66,66,66);
    --background: rgb(255,255,255);
    --letter-spacing:1em;


}

[data-theme="dark"] {
    --on-background: rgb(233, 233, 233);
    --background: rgb(0, 0, 0);

}


/* ------   General -----*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Jost",sans-serif;
    color: var(--on-background);
    
    

body {
    width: 100%;
    height: 100vh;
    transition: background-color 0.75s ease, color 0.75s ease;
    background-color: var(--background);
    font-size: 1.6rem;
}
    
}

a {
    text-decoration: none;
    color: var(--on-background);
}

a:hover {
    padding-bottom: 5px;
    border-bottom: 5px solid var(--on-background);
}


/* ---- Dark Mode Switch ----- */
.theme-switcher {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 30px;
    right: 25px;
    cursor: pointer;
}

.theme-switcher span {
    margin-right: 10px;
    font-size: 1.6rem;
    color: var(--on-background);
}

.theme-switcher i {
    font-size: 15px;
}

.theme-switcher i:hover {
    transform: scale(1.1);
}

section {
    min-height:100vh;
    position: relative;
    display: grid;
    justify-items: center;
    text-align: center;
}

/* ------  Section 1 ------ */
#section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%; 
    
}

header h1 {
    position: relative;
    bottom: 5px;
    padding: 20px;
    font-size: clamp(6.0rem, 10vw, 10.0rem);
    font-weight: 500;
    font-style: italic;
    animation-name: focus-in-contract;
    animation-duration: 3s;
    animation-timing-function: linear;
}

/* ------------------- Animation -----------------------> */
@keyframes focus-in-contract {
    0% {
        letter-spacing: var(--letter-spacing);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        letter-spacing: 0;
        filter: 0;
        opacity: 1;
    }
}



main {
    width: 100%;
    text-align: center;
}

main  section{
    position: relative;
    top: 10px;
}

.main__icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 3.0rem;
    text-align: center;
}

.main__icons i {
    animation: focus-in-contract 3s linear;
    transition: 0.5s ease;
    cursor: pointer;
}

.main__icons i:hover {
    transform: scale(1.1);
}


h2 {
    font-size: 4.2rem;
}


/*----------- Section 2 ---------*/

section h2{

    margin-top: 75px;

}
.main-image {
    height: auto;
    width: 50%;
    position: relative;
    padding: 25px;
    top:-75px;
    border: 10px solid var(--on-background);
}

/* ------------ Section 3 ----------*/

.image-container {
    position: relative;
    top:-25%;
    height: 50vh;

}

.small-image {
    height: 50%;
    width: auto;
    padding: 20px;
    border: 10px solid var(--on-background);
    margin: 0 20px;
}
/*
.small-image:not(:first-child){
    margin-left: 20px;
}
    */

/* ---- Section 4 ---- */
.blog-container {
    margin: 0 auto;
    width: 50ch;
}

.blog-item {
    margin-bottom: 50px;
}

/* Section 5 */

.wave {
    width: 100%;
}

.wave > svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2.0rem;
}

footer small {
    color: white;
}



@media only screen and (max-width: 650px) {
    body {
        height: 100vh;
    }
    header h1 {
        font-size: 15vw;
        margin: 0 auto;
    }

    .main__icons {
    top:0 ;
    font-size: 5vw;
    text-align: center;
}

    footer small {
        font-size: 3vw;
    }
}

/* --------- Aside ---------- */

aside {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background);
    width: 100%;
    z-index: 10;
}

/* -------------- Navigation ----------*/

.menu{
    position: fixed;
    top: 15px;
    left: 15px;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
    cursor: pointer;
}

.menu div {
    height: 0.25rem;
    background-color: var(--on-background);
    transition: all 0.3s ease-in-out; 
}

/* Rotate first bar */
.active .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.active .bar2 {opacity: 0;}

/* Rotate last bar */
.active .bar3 {
    transform: translate(0, -2.5px) rotate(45deg);
}

nav {
    height: 100%;
    width: 200px;
    color: var(--on-background);
    position: fixed;
    top:0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 2;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    font-size: 3.0rem;
    line-height: 50px;
    font-weight: 600;
    
}

nav ul li {
    margin: 1rem 0;
}



nav.active {
    transform: translateX(0);
}



/* ------------- Media Queries -------------- */

/* All Mobile Devices */
@media screen and (max-width: 1180px) {
    :root {
        --letter-spacing-animation: .1em;
    }

    nav {
        width: 100%;
        background-color: var(--background);
    }

    .wave > svg:last-child {
        border-bottom: 20px solid #1a1952;

    }
    footer {
        bottom: 10px;
    }
}

/* ---------- Tablet Horizontal ------------- */

@media screen and (min-width:820px) and (max-width:1180px) {
    #section-2 h2 {
        margin-top: 45px;
    }
    .main-image {
        width: 75%;
        height: auto;
        top: -5%;
    }

    .small-image {
        height: 58%;
        padding: 10px;
        border-width: 5px;
    }

    .image-container {
        top: -15px;
    }
}

/*Tablet vertical */
@media screen and (min-width:820px) and (max-width:1180px) {
    /* Section 2 */ 
    .main-image {
        height: auto;
        width: 85%;
        border-width: 5px;
        padding: 19px;
        top: -25px;
    }

    #section2 h2 {
        margin-top: 65px;
    }
}